{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/Form/login.css' %}">
    </head>
    <body>
        <!-- {% include 'Form\messages.html' %} -->
        <div class="wrapper">
            <div class="logo">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyU7T114aKPffpMVf36xnALa8a8-VtPZ6cI0Tm_fc&s" alt="">
            </div>
            <div class="text-center mt-4 name">
                Login Form
            </div>
            <form class="p-3 mt-3" method="post">
                {% csrf_token %}
                <div class="form-field d-flex align-items-center">
                    <span class="far fa-user"></span>
                    <input type="text" name="uname" id="uname" placeholder="Username">
                </div>
                <div class="form-field d-flex align-items-center">
                    <span class="fas fa-key"></span>
                    <input type="pwd" name="pwd" id="pwd" placeholder="Password">
                </div>
                <button class="btn mt-3">Login</button>
            </form>
            <div class="text-center fs-6">
                <a href="{% url 'homepageurl' %}">Forget password?</a> or <a href="{% url 'signupurl' %}">Sign up</a>
            </div>
        </div>
    </body>
</html>